


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DateMe</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container full-height-grow">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <header class="main-header">
      <a href="/" class="brand">
        <div class="brand-name"><span class="accent-color">date</span>me</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="/users/register">join now</a></li>
        </ul>
      </nav>
    </header>
    <section class="login-main-section">
        <h1 class="login-text">get back into the <span class="accent-color">action.</span></h1>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST" class="login-form">
        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
    </section>
    <div class="homepage-circle-1"></div>
    <div class="homepage-circle-2"></div>
    <div class="homepage-circle-3"></div>
  </body>
</html>