<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DateMe</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/quiz.css" rel="stylesheet" type="text/css" />
    
  </head>
  <body>

    


    <header class="main-header">
      <!--<a href="/dashboard" class="brand">-->
     
        <div class="brand-name"><span class="accent-color">date</span>me</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="/users/logout">logout</a></li>
        </ul>
      </nav>
    </header> 
    <section>
      <h1> </h1>
      <div class="call-to-action">
        <h1 class="title">Welcome to our <span class="accent-color">personality quiz.</span></h1>
        <span class="subtitle">complete this short and simple quiz and in sconds get a <span class="accent-color">match.</span></span>
        
      </div>
    </section>

    <section class="quiz-main-section">
      <% include ./partials/messages %>
      <form action="/users/quiz" method="POST" class="quiz-form">
    
        <div class="input-group">
          <label for="gender">gender</label>
          <!--<input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />-->
          <select id="gender" name="gender">
            <option value="None" selected>-- Select --</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            
          </select>
        
        </div>
        <div class="input-group">
          <label for="sexPref">sexual preference</label>
          <!--<input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />-->

          <select id="sexPref" name="sexPref">
			      <option value="None" selected>-- Select --</option>
			      <option value="heterosexual">Heterosexual</option>
			      <option value="homosexual">Homosexual</option>
			      
		      </select>
        </div>
        <div class="input-group">
          <label for="age">age</label>
          <!--<input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />-->


          <select id="age" name="age">
			<option value="None" selected>-- Select --</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
      <option value="20">20</option>
			<option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
      <option value="39">39</option>
      <option value="40">40</option>
      <option value="41">41</option>
      <option value="42">42</option>
      <option value="43">43</option>
      <option value="44">44</option>
      <option value="45">45</option>
      <option value="46">46</option>
      <option value="47">47</option>
      <option value="48">48</option>
      <option value="49">49</option>
      <option value="50">50</option>
		</select>
        </div>
        <div class="input-group">
          <label for="Q1">i see myself as an extrovert</label>
          <!--<input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />-->
          <select id="q1" name="q1">
			      <option value="None" selected>-- Select --</option>
			      <option value="5">strongly agree</option>
			      <option value="4">agree</option>
			      <option value="3">not sure</option>
            <option value="2">disagree</option>
            <option value="1">strongly disagree</option>
		      </select>
        </div>
        <div class="input-group">
          <label for="Q2">i prefer to go on a night out than a 'Netflix and Chill' night in</label>
          <select id="q2" name="q2">
			      <option value="None" selected>-- Select --</option>
			      <option value="5">strongly agree</option>
			      <option value="4">agree</option>
			      <option value="3">not sure</option>
            <option value="2">disagree</option>
            <option value="1">strongly disagree</option>
		      </select>
        </div>

        <div class="input-group">
          <label for="Q3">i prefer brains over look</label>
          <select id="q3" name="q3">
			      <option value="None" selected>-- Select --</option>
			      <option value="5">strongly agree</option>
			      <option value="4">agree</option>
			      <option value="3">not sure</option>
            <option value="2">disagree</option>
            <option value="1">strongly disagree</option>
		      </select>
        </div>

        <div class="input-group">
          <label for="Q4">i prefer to be rich and ugly than poor and attractive</label>
          <select id="q4" name="q4">
			      <option value="None" selected>-- Select --</option>
			      <option value="5">strongly agree</option>
			      <option value="4">agree</option>
			      <option value="3">not sure</option>
            <option value="2">disagree</option>
            <option value="1">strongly disagree</option>
		      </select>
        </div>
        <button type="submit" class="btn">
          submit
        </button>
      </form>
      
    </div>
    </section>
    
    <div class="homepage-circle-1"></div>
    <div class="homepage-circle-2"></div>
    <div class="homepage-circle-3"></div>
  </body>
</html>