<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DateMe</title>
    <link href="style.css" rel="stylesheet" type="text/css" />  <!-- links the external stylesheets to be used for this page -->
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container full-height-grow">
    <header class="main-header">
      <a href="/" class="brand">
        <div class="brand-name"><span class="accent-color">date</span>me</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="/users/login">log in</a></li>
        </ul>
      </nav>
    </header>
    <section class="home-main-section">
      <div class=""></div>
      <div class="call-to-action">
        <h1 class="title">find your <span class="accent-color">soul mate.</span></h1>
        <span class="subtitle">join the thousands who have found<span class="accent-color">  love </span>today.</span>
        <a href="/users/register" class="btn">join now</a>
      </div>
    </section>
    <div class="homepage-circle-1"></div>
    <div class="homepage-circle-2"></div>
    <div class="homepage-circle-3"></div>
  </body>
</html>



