.home-main-section .call-to-action{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.homepage-circle-1{
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(111, 52, 178, 0.25);
  bottom: 2vw;
  left: 5vw;
  z-index: -1;
}

.homepage-circle-2{
  position: absolute;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, 0.25);
  top: 3vw;
  right: 37vw;
  z-index: -1;
}

.homepage-circle-3{
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.homepage-circle-3::before{
  content: '';
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.3);
}
